body {
    background-color: #f4f6f9 !important;
}
a {
    text-decoration: none !important;
}
a:hover,
a:focus {
    color: #8e6f65;
    text-decoration: none !important;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #8e6f65 !important;
    border-color: #8e6f65 !important;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #8e6f65;
    border-color: #8e6f65;
    box-shadow: 0 0 0 0.25rem #8e6f6588;
}
.login-page {
    background-image: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.3)
        ),
        url(../images/admin_login_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-header {
    background-color: #f4f6f9 !important;
    border-bottom: unset !important;
}
.main-header nav {
    border: 1px solid #e6e6e6cc;
    margin: 20px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.main-sidebar {
    /* background-color: #e6e6e6cc !important; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.main-sidebar .brand-link {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: unset !important;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #8e6f65 !important;
    color: #fff;
}
.dropdown-menu-right {
    right: 0;
    left: auto !important;
}
.bg-purple {
    background-color: #8e6f65 !important;
}
.select2-selection__rendered {
    line-height: 28px !important;
    /* line-height: calc(2.25rem) !important; */
}

.select2-container .select2-selection--single {
    /* height: 35px !important; */
    height: calc(2.25rem + 2px) !important;
}

.select2-selection__arrow {
    /* height: 34px !important; */
    height: calc(2.25rem + 2px) !important;
}
.single-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.multiline-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;

    /* line-clamp: 5; */

    /*
    display: flex;
    flex-direction: column;
    line-clamp: 5;
    overflow: hidden;
    */
}
.text-brown {
    color: #663727 !important;
}
