@import url("https://fonts.googleapis.com/css?family=Noto Sans TC");
/********** Template CSS **********/
:root {
    --primary: #8e6f65;
    --secondary: #8f8f8f;
    --light: #F5F8F2;
    --dark: #252C30;
}

body * {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif !important;
}

a {
    color: var(--primary);
}

a:hover {
    color: #bfa197;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.fw-medium {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.fw-black {
    font-weight: 900;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.text-primary {
    color: var(--primary) !important;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-primary {
    background-color: #8e6f65;
    border-color: #8e6f65;
}
.btn-primary:hover {
    color: var(--light);
    background-color: #bfa197;
    border-color: #bfa197;
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--secondary);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar .navbar-brand {
    position: absolute;
    padding: 0;
    width: 170px;
    height: 135px;
    top: 0;
    left: 0;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    /* font-weight: 600; */
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-brand {
        width: 126px;
        height: 100px;
    }

    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 23px;
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: rgba(136, 180, 78, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    background-color: var(--dark);
    border: 15px solid var(--dark);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    /* background: linear-gradient(rgba(136, 180, 78, .7), rgba(136, 180, 78, .7)), url(../img/carousel-1.jpg) center center no-repeat; */
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    bottom: -13px;
    left: calc(25% - 13px);
    background: var(--dark);
    border: 10px solid #FFFFFF;
    border-radius: 28px;
}

.section-title.text-center::before {
    left: 25%;
}

.section-title.text-center::after {
    left: calc(50% - 13px);
}

.section-title2 {
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

.section-title2::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--light);
}

.section-title2::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    bottom: -13px;
    left: calc(25% - 13px);
    background: var(--dark);
    border: 10px solid #FFFFFF;
    border-radius: 28px;
}

.section-title2.text-center::before {
    left: 25%;
}

.section-title2.text-center::after {
    left: calc(50% - 13px);
}


/*** Products ***/
.product {
    background: linear-gradient(rgba(136, 180, 78, .1), rgba(136, 180, 78, .1)), url(../img/product-bg.png) left bottom no-repeat;
    background-size: auto;
}

.product-carousel .owl-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.product-carousel .owl-nav .owl-prev,
.product-carousel .owl-nav .owl-next {
    margin: 0 10px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 55px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .15);
    font-size: 25px;
    transition: .5s;
}

.product-carousel .owl-nav .owl-prev:hover,
.product-carousel .owl-nav .owl-next:hover {
    background: #FFFFFF;
    color: var(--primary);
}

.services {
    background-color: #8e6f65;
}

.service-img-icon {
    width: 35% !important;
}

@media (max-width: 768px) {
    .service-img-icon {
        width: 50% !important;
    }
}

/*** About ***/
.video {
    background: linear-gradient(rgba(193, 174, 156, 0.85), rgba(193, 174, 156, .85)), url('../../images/info-vid-bg.jpg') center center no-repeat;
    background-size: cover;
}

.about-img {
    height: 23rem;
    object-fit: cover;
    object-position: center center;
}

.about-img2 {
    height: 11.5rem;
    object-fit: cover;
    object-position: center center;
}

.about-img3 {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    object-position: center;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #000;
    background-color: #bfa197;
    border-color: #bfa197;
    box-shadow: 0 0 0 .25rem #bfa1977e;
}
.btn-primary:active {
    background-color: #bfa197;
    border-color: #bfa197;
}

@media (max-width: 768px) {
    .about-img {
        height: 12rem;
        object-fit: cover;
        object-position: center center;
    }

    .about-img2 {
        height: 6rem;
        object-fit: cover;
        object-position: center center;
    }

    .about-img3 {
        width: 100%;
        height: 12rem;
        object-fit: cover;
        object-position: center;
    }
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 65px;
    height: 75px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 28px 30px 30px 38px;
    background: #FFFFFF;
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: 13px;
    border-left: 40px solid var(--primary);
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

.modal-video .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

.modal-video .modal-body {
    position: relative;
    padding: 0px;
}

.modal-video .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Store ***/
.store-item .store-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(138, 180, 78, .3);
    opacity: 0;
    transition: .5s;
}

.store-item:hover .store-overlay {
    opacity: 1;
}


/*** Contact ***/
.contact .btn-square {
    width: 100px;
    height: 100px;
    border: 20px solid var(--light);
    background: var(--primary);
    border-radius: 50px;
}


/*** Testimonial ***/
.testimonial {
    background: linear-gradient(rgba(136, 180, 78, .85), rgba(136, 180, 78, .85)), url(../img/testimonial-bg.jpg) center center no-repeat;
    background-size: cover;
}

.testimonial-item {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    background: #FFFFFF;
    border: 30px solid var(--primary);
}

.testimonial-item img {
    width: 60px !important;
    height: 60px !important;
    border-radius: 60px;
}

.testimonial-carousel .owl-dots {
    margin-top: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--dark);
}


/*** Footer ***/
.footer {
    color: var(--light);
    /* background-color: #D4AD90; */
    background-color: #bfa197;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light) !important;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    color: #B0B9AE;
}

.copyright {
    background: var(--primary);
}

.copyright a {
    color: #B0B9AE !important;
}

.copyright a:hover {
    color: #FFFFFF !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.z-n1 {
    z-index: -1 !important;
}
.z-0 {
    z-index: 0 !important;
}
.z-1 {
    z-index: 1 !important;
}
.z-2 {
    z-index: 2 !important;
}
.z-3 {
    z-index: 3 !important;
}

.blog_item {
    margin-bottom: 50px;
}
.blog_details {
    padding: 30px 0 20px 10px;
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
}
@media (min-width: 768px) {
    .blog_details {
        padding: 60px 30px 35px 35px;
    }
}
.blog_details p {
    margin-bottom: 30px;
}
.blog_details a {
    /* color: #ff8b23; */
}
.blog_details a:hover {
    color: #131313;
}
.blog_details h2,
.blog_details h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}
@media (min-width: 768px) {
    .blog_details h2,
    .blog_details h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
}
.blog-info-link li {
    float: left;
    font-size: 14px;
}
.blog-info-link li a {
    color: #999999;
}
.blog-info-link li i,
.blog-info-link li span {
    font-size: 13px;
    margin-right: 5px;
}
.blog-info-link li::after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}
.blog-info-link li:last-child::after {
    display: none;
}
.blog-info-link::after {
    content: "";
    display: block;
    clear: both;
    display: table;
}
.blog_item_img {
    position: relative;
}
.blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    color: #fff;
    background-color: #000;
    padding: 8px 15px;
    border-radius: 5px;
}
@media (min-width: 768px) {
    .blog_item_img .blog_item_date {
        bottom: -20px;
        left: 40px;
        padding: 13px 30px;
    }
}
.blog_item_img .blog_item_date .h3 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
    line-height: 1.2;
}
@media (min-width: 768px) {
    .blog_item_img .blog_item_date .h3 {
        font-size: 30px;
    }
}
.blog_item_img .blog_item_date p {
    font-size: 18px;
    margin-bottom: 0;
    color: #fff;
}
@media (min-width: 768px) {
    .blog_item_img .blog_item_date p {
        font-size: 18px;
    }
}
.blog_right_sidebar .widget_title {
    font-size: 20px;
    margin-bottom: 40px;
}
.blog_right_sidebar .widget_title::after {
    content: "";
    display: block;
    padding-top: 15px;
    border-bottom: 1px solid #8e6f65;
}
.blog_right_sidebar .single_sidebar_widget {
    background: #bfa19754;
    padding: 30px;
    margin-bottom: 30px;
}
.blog_right_sidebar .single_sidebar_widget .btn_1 {
    margin-top: 0px;
}
.blog_right_sidebar .search_widget .form-control {
    height: 50px;
    border-color: #8e6f65;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0;
}
.blog_right_sidebar .search_widget .form-control::placeholder {
    color: #999999;
}
.blog_right_sidebar .search_widget .form-control:focus {
    border-color: #8e6f65;
    outline: 0;
    box-shadow: none;
}
.blog_right_sidebar .search_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #8e6f65;
    padding: 4px 15px;
    border-left: 0;
}
.blog_right_sidebar .search_widget .input-group button i,
.blog_right_sidebar .search_widget .input-group button span {
    font-size: 14px;
    color: #999999;
}
.blog_right_sidebar .newsletter_widget .form-control {
    height: 50px;
    border-color: #f0e9ff;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
}
.blog_right_sidebar .newsletter_widget .form-control::placeholder {
    color: #999999;
}
.blog_right_sidebar .newsletter_widget .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none;
}
.blog_right_sidebar .newsletter_widget .input-group button {
    background: #fff;
    border-left: 0;
    border: 1px solid #f0e9ff;
    padding: 4px 15px;
    border-left: 0;
}
.blog_right_sidebar .newsletter_widget .input-group button i,
.blog_right_sidebar .newsletter_widget .input-group button span {
    font-size: 14px;
    color: #999999;
}
.blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 1px solid #f0e9ff;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px;
}
.blog_right_sidebar .post_category_widget .cat-list li:last-child {
    border-bottom: 0;
}
.blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #888888;
}
.blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0px;
}
.blog_right_sidebar .post_category_widget .cat-list li + li {
    padding-top: 15px;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body {
    justify-content: center;
    align-self: center;
    padding-left: 20px;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
    transition: all 0.3s linear;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body a:hover {
    color: #fff;
}
.blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 0px;
}
.blog_right_sidebar .popular_post_widget .post_item + .post_item {
    margin-top: 20px;
}
.blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block;
}
.blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eeeeee;
    background: #fff;
    padding: 4px 20px;
    margin-bottom: 8px;
    margin-right: 3px;
    transition: all 0.3s ease 0s;
    color: #888888;
    font-size: 13px;
}
.blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #131313;
    color: #fff !important;
    -webkit-text-fill-color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.blog_right_sidebar .instagram_feeds .instagram_row {
    display: flex;
    margin-right: -6px;
    margin-left: -6px;
}
.blog_right_sidebar .instagram_feeds .instagram_row li {
    width: 33.33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 15px;
}
.blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eee;
    margin: 30px 0px;
}
.blog-pagination {
    margin-top: 80px;
}
.blog-pagination .page-link {
    font-size: 14px;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
    margin-left: -1px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    border-radius: 0 !important;
    color: #8a8a8a;
    border: 1px solid #f0e9ff;
    margin-right: 10px;
}
.blog-pagination .page-link i,
.blog-pagination .page-link span {
    font-size: 13px;
}
.blog-pagination .page-item.active .page-link {
    background-color: #fbf9ff;
    border-color: #f0e9ff;
    color: #888888;
}
.blog-pagination .page-item:last-child .page-link {
    margin-right: 0;
}
.single-post-area .blog_details {
    box-shadow: none;
    padding: 0;
}
.single-post-area .social-links {
    padding-top: 10px;
}
.single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px;
}
.single-post-area .social-links li a {
    color: #cccccc;
    padding: 7px;
    font-size: 14px;
    transition: all 0.2s linear;
}
.single-post-area .blog_details {
    padding-top: 26px;
}
.single-post-area .blog_details p {
    margin-bottom: 20px;
    font-size: 15px;
}
.single-post-area .quote-wrapper {
    background: rgba(130, 139, 178, 0.1);
    padding: 15px;
    line-height: 1.733;
    color: #888888;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 25px;
}
@media (min-width: 768px) {
    .single-post-area .quote-wrapper {
        padding: 30px;
    }
}
.single-post-area .quotes {
    background: #fff;
    padding: 15px 15px 15px 20px;
    border-left: 2px solid;
}
@media (min-width: 768px) {
    .single-post-area .quotes {
        padding: 25px 25px 25px 30px;
    }
}
.single-post-area .arrow {
    position: absolute;
}
.single-post-area .arrow .lnr {
    font-size: 20px;
    font-weight: 600;
}
.single-post-area .thumb .overlay-bg {
    background: rgba(0, 0, 0, 0.8);
}
.single-post-area .navigation-top {
    padding-top: 15px;
    border-top: 1px solid #f0e9ff;
}
.single-post-area .navigation-top p {
    margin-bottom: 0;
}
.single-post-area .navigation-top .like-info {
    font-size: 14px;
}
.single-post-area .navigation-top .like-info i,
.single-post-area .navigation-top .like-info span {
    font-size: 16px;
    margin-right: 5px;
}
.single-post-area .navigation-top .comment-count {
    font-size: 14px;
}
.single-post-area .navigation-top .comment-count i,
.single-post-area .navigation-top .comment-count span {
    font-size: 16px;
    margin-right: 5px;
}
.single-post-area .navigation-top .social-icons li {
    display: inline-block;
    margin-right: 15px;
}
.single-post-area .navigation-top .social-icons li:last-child {
    margin: 0;
}
.single-post-area .navigation-top .social-icons li i,
.single-post-area .navigation-top .social-icons li span {
    font-size: 14px;
    color: #999999;
}
.single-post-area .blog-author {
    padding: 40px 30px;
    background: #fbf9ff;
    margin-top: 50px;
}
@media (max-width: 600px) {
    .single-post-area .blog-author {
        padding: 20px 8px;
    }
}
.single-post-area .blog-author img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 30px;
}
@media (max-width: 600px) {
    .single-post-area .blog-author img {
        margin-right: 15px;
        width: 45px;
        height: 45px;
    }
}
.single-post-area .blog-author a {
    display: inline-block;
}
.single-post-area .blog-author a:hover {
    color: #131313;
}
.single-post-area .blog-author p {
    margin-bottom: 0;
    font-size: 15px;
}
.single-post-area .blog-author h4 {
    font-size: 16px;
}
.single-post-area .navigation-area {
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-top: 55px;
}
.single-post-area .navigation-area p {
    margin-bottom: 0px;
}
.single-post-area .navigation-area h4 {
    font-size: 18px;
    line-height: 25px;
}
.single-post-area .navigation-area .nav-left {
    text-align: left;
}
.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000;
}
.single-post-area .navigation-area .nav-left .thumb img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.single-post-area .navigation-area .nav-left .lnr {
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.single-post-area .navigation-area .nav-left:hover .lnr {
    opacity: 1;
}
.single-post-area .navigation-area .nav-left:hover .thumb img {
    opacity: 0.5;
}
@media (max-width: 767px) {
    .single-post-area .navigation-area .nav-left {
        margin-bottom: 30px;
    }
}
.single-post-area .navigation-area .nav-right {
    text-align: right;
}
.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000;
}
.single-post-area .navigation-area .nav-right .thumb img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.single-post-area .navigation-area .nav-right .lnr {
    margin-right: 20px;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.single-post-area .navigation-area .nav-right:hover .lnr {
    opacity: 1;
}
.single-post-area .navigation-area .nav-right:hover .thumb img {
    opacity: 0.5;
}
@media (max-width: 991px) {
    .single-post-area .sidebar-widgets {
        padding-bottom: 0px;
    }
}

.rounded-top-circle {
    border-top-left-radius: 50% !important;
    border-top-right-radius: 50% !important;
}

.title-brown {
    color: #a68a5e !important;
}

.bg-brown {
    background-color: #a68a5e !important;
}

.bg-brown-500 {
    background-color: #a68a5e80 !important;
}

.single-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.multiline-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    /* line-clamp: 5; */

    /*
    display: flex;
    flex-direction: column;
    line-clamp: 5;
    overflow: hidden;
    */
}

.img-post {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: center;
}

.section-padding {
    padding: 5rem 0;
}

@media (max-width: 768px) {
    .w-d-75 {
        width: 75% !important;
    }

    .img-post {
        width: 100%;
        height: 12rem !important;
        object-fit: cover;
        object-position: center;
    }
}

.footer h2 {
    font-size: 1.5rem !important;
}

.hFixFabFlex {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translate(0, -50%);
    z-index: 5566;
    /**/display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    -webkit-transform: translate();
    -moz-transform: translate();
    -ms-transform: translate();
    -o-transform: translate();
}

  .hFixFabFlex > a {
    display: block;
    text-align: center;
  }

  .hFab {
    width: 48px;
    height: 48px;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 30px 0px #66666666;
    overflow: hidden;
    transition: 0.2s all;
    margin-top: 6px;
    /* margin-right: 6px; */
    margin-left: 16px;
}

  .hFab:hover {
    box-shadow: 1px 3px 4px 0px #bfa197cc;
  }

  .hFabHome {
    background-color: #666;
  }

  .hFabPhone {
    background-color: #ad9a88;
  }

  .hFabIg {
    /* background-color: #c0ab96; */
    background: linear-gradient(to top left, #8e6f65, #efefe9);
  }

  .hFabLine {
    /* background-color: #d6bfa8; */
    background: linear-gradient(to top left, #8e6f65, #efefe9);
  }

  .hFabFacebook {
    /* background-color: #ebd2b9; */
    background: linear-gradient(to top left, #8e6f65, #efefe9);
  }

  .scroll-to-top {
    /* position: fixed;
      right: 15px;
      bottom: 15px; */
    display: none;
    /* width: 50px;
      height: 50px; */
    /* text-align: center;
      color: #fff; */
    background: linear-gradient(to top left, #714288, #efefe9);
    /* line-height: 45px; */
  }

  /* .scroll-to-top:focus,
  .scroll-to-top:hover {
      color: #fff;
  } */

  .scroll-to-top:hover {
    /* background: #6f42c1cc; */
    box-shadow: 1px 3px 4px 0px #6f42c1cc;
  }

  .scroll-to-top i {
    font-weight: 800;
  }
